<div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
<div *ngIf="movies.length > 0; else no_movies">
  <h1 *ngIf="movies.length > 0">{{ title }}</h1>
  <div class="alert alert-success" *ngIf="movies.length > 0">
    {{ FilteredMovies.length }} film bulundu
  </div>

  <div class="mb-3">
    <input  [(ngModel)]="filterText" (change)="onInputChange()" type="text" class="form-control" placeholder="Search...">
    <small class="text-muted" *ngIf="filterText">Aradığınız kelime: {{filterText}} </small>
  </div>

  <ng-template [ngTemplateOutlet]="movieList1"> </ng-template>
</div>

<ng-template #no_movies>
  <div class="alert alert-warning">Film bulunamadı</div>
</ng-template>



<ng-template #movieList1>
  <div class="card mb-3" *ngFor="let movie of FilteredMovies ">
    <div class="row">
      <div class="col-md-3">
        <img src="{{ movie.img }}" class="img-fluid" alt="" />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{ movie.title | titlecase }}</h2>
          <p class="card-text">{{ movie.description | summary:10 }}</p>
          <div>
            <button (click)="addToList($event, movie)" class="btn btn-sm btn-primary">Listeye Ekle</button>
            <button (click)="removeFromList( movie)" class="btn btn-sm btn-danger">Sil</button>

          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>





<!-- <app-movie *ngFor="let item of movies"></app-movie> -->
