<div *ngIf="movies.length > 0; else no_movies">
  <h1 *ngIf="movies.length > 0">{{ title }}</h1>
  <div class="alert alert-success" *ngIf="movies.length > 0">
    {{ movies.length }} film bulundu
  </div>

  <ng-template [ngTemplateOutlet]="movieList1"> </ng-template>
  <ng-template [ngTemplateOutlet]="movieList2"> </ng-template>
  <ng-template [ngTemplateOutlet]="movieList3" [ngTemplateOutletContext]="{movies: movieRepository.getMovies()}"> </ng-template>
</div>

<ng-template #no_movies>
  <div class="alert alert-warning">Film bulunamadı</div>
</ng-template>

<ng-template #movieList1>
  <div class="card mb-3" *ngFor="let movie of movies">
    <div class="row">
      <div class="col-md-3">
        <img src="{{ movie.img }}" class="img-fluid" alt="" />
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">{{ movie.title }}</h2>
          <p class="card-text">{{ movie.description }}</p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #movieList2>
  <div class="card mb-3" *ngFor="let movie of movies">
    <div class="row">
      <div class="col-md-2">
        <img src="{{ movie.img }}" class="img-fluid" alt="" />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h2 class="card-title">{{ movie.title }}</h2>
          <p class="card-text">{{ movie.description }}</p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #movieList3  let-populerFilmler="movies">
  <h2>Popular filmler</h2>
  <div class="card mb-3" *ngFor="let movie of populerFilmler">
    <div class="row">
      <div class="col-md-2">
        <img src="{{ movie.img }}" class="img-fluid" alt="" />
      </div>
      <div class="col-md-10">
        <div class="card-body">
          <h2 class="card-title">{{ movie.title }}</h2>
          <p class="card-text">{{ movie.description }}</p>
          <button class="btn btn-sm btn-outline-primary">Details</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- <app-movie *ngFor="let item of movies"></app-movie> -->
